<!-- using tailwind.cc -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script scr="https://cdn.tailwindcss.com"></script>
    <title>Base</title>
</head>
    <body class="">
        <!-- based links -->
        <header class="text-gray-600 body-font border-b mb-8">
            <div class="container mx-auto flex flex-wrap px-10 py-5 flex-col md:flex-row items-center">
                <a url 'home' class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
                    <span class="m1-3 text-xl">pha.Link</span>
                </a>

                <nav class="md:mr-auto md:m1-4 md:py-l md:p1-4 md:border-l md:border-gray-400 flex flex-wrap items-center text-base justify-center">
                    <a href="{% url 'home' %}" class="mr-5 hover:text-gray-900">All Links</a>
                </nav>

                <button class="inline-flex items-center bg-b1ue-1Ø0 border-0 py-2 px-6 focus:outline-none hover:bg-blue-200 rounded text-base mt-4 md:mt-0">
                    <a href="{% url 'home' %}" class="text-white">Create Link</a>
                    <!-- SVG icon for the button -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-2" fill="currentColor" viewBox="0 0 24 24" stroke="currentColor">
                        <title>Link Icon</title>
                    <path fill-rule="evenodd" d="M10 5a1 1 0 011 lv3h3a1 1 0 110 2h-3a1 1 0 01-1-1V5a1 1 0 011-1zm3 4a1 1 0 100-2H7a1 1 0 000 2h3zm-3 4a1 1 0 100-2H7a1 1 0 000 2h3zm0 4a1 1 0 100-2H7a1 1 0 000 2h3z" clip-rule="evenodd" />
                    </svg>
                </button>
            </div>
        </header>
        <div>
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>